/* H3 0.1.0.0 */
body {
    background: yellowgreen;
}
#unique-description-2 {
    background: skyblue;
    font-size: 50px;
}

/* H1 1.0.0.0* /
Estilo en linea

/* li !important */
li {
    font-size: 50px!important;
    font-size: 100px;
}

.Product_1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/*p descripcion 2 0.0.0.1 */
.wrapper_card p {
    display: flex;
    justify-content: center;
    background: cyan;}
    